{% extends 'user_base.html' %}
{% load static %}
{% block title %}Home{%endblock%}
{% block content %}
<!--  Parallax Section  -->
<div class="parallax-container">
    <div class="parallax"><img src="http://4.bp.blogspot.com/-yMZPt2d7XRw/UlEyk8R8YuI/AAAAAAAAJCA/NGpe08eFxD0/s1600/bastar+girls.jpg"></div>
</div>
<div class="section white purple-text text-darken-4">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h2 class="header purple-text text-darken-4">Department of Tribal and Scheduled Caste</h2>
            <div class="card">
                <div class="card-content">
                    <p>Chhattisgarh state came into being on 1 November 2000 . 27 districts of Chhattisgarh state are as follows :</p>
                    <p>Raipur, Dhamtari, Baloudabazar, Gariyaband, Bemetara, Balod, Sukma, Kondagaon Mahasamund, Durg, Rajnandgaon, Kawardha, Bastar, Dantewada, Kanker, Raigad, Bilaspur, Janjgir-Champa, Korba, Jashpur, Ambikapur and Korea . Bijapur was formed separately from Narayanpur and Dantewada separately from Jagadalpur in April 2007. Similarly, in January 2012, 9 new districts were formed. It covers the entire tribal sub-region of Bastar, Narayanpur, Dantewada, Bijapur, Sukma, Surajpur, Balrampur, Kondagaon, Kanker, Sarguja, Korea, Korba and Jashpur. There are a total of 146 development blocks in the state, in which tribal development blocks are 85.</p>
                    <p>There are 11 Lok Sabha (5 general, 4 Scheduled Tribes, 2 Scheduled Castes) and 90 assembly constituencies in the state of Chhattisgarh. 44 constituencies (34 Scheduled Tribes and 10 Scheduled Castes) are safe in the Legislative Assembly zones.</p>
                    <p>The total population of the state (according to Census year 2011) is 255.45 lakhs. The population of Scheduled Tribes is 78.22 lakh, and the population of Scheduled Castes is 32.47 lakh.</p>
                    <p>The concept of tribal sub plan for the development of Scheduled Tribes in the state is in progress. The main tribe is Gond and its sub castes - Madia, Muria, Dorla etc. In addition, there are a large number of Uraon, Kanwar, Binjwar, Bagga, Bhadra, Kamar, Halba, Sewra, Nagasiya, Mazwar, Kharia and Dhanwar tribes.</p>
                    <p>In the state of Chhattisgarh, 5 special backward tribes, Bagga, Kamar, Hill Korba, Birhor, Aboujmadia, are residing. Keeping in view their economic social and regional development, 6 Backward Tribal Development Agency is formed in the state.</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active purple-text text-darken-4" href="#circulars">Circulars</a></li>
                        <li class="tab"><a class="purple-text text-darken-4" href="#plans">Various Departmental Plan</a></li>
                        <li class="tab"><a class="purple-text text-darken-4" href="#budget">Budget</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4" style="min-height: 200px">
                    <div id="circulars">
                        <marquee direction="up">
                            <div id="circulars_display">
                            </div>
                        </marquee>
                    </div>
                    <div id="plans">                        
                        <marquee direction="up">
                            <!-- <div id="plans_display"></div> -->
                            <div id="plans_display">
                            </div>
                        </marquee>
                    </div>
                    <div id="budget">
                        <marquee direction="up">
                            <div id="budget_display">
                            </div>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="https://images.thrillophilia.com/image/upload/s--MADGJk93--/c_fill,f_auto,fl_strip_profile,h_800,q_auto,w_1300/v1/images/photos/000/111/713/original/1493985763_Madia-Gond-tribals-or-Adivasis.jpg.jpg?1493985763"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'assets/js/base.js' %}" ></script>
{% endblock %}