{% extends 'user_base.html' %}
{% block title %}Statistics{%endblock%}
{% block content %}
<div class="section white purple-text text-darken-4">
    <div class="container">
            <h2 class="header purple-text text-darken-4">Important Statistics</h2>
            <table class="highlight">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                
                    <tbody>
                            <tr>
                                <td>1
                                </td>
                                <th align="left">State territory
                                </th>
                                <td>135133 sq km
                                </td>
                                <td>2
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">जनसंख्या (2011)</span> Population (2011)</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">255.45 लाख</span> 255.45 lakhs</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">राज्य का अनुसूचित क्षेत्र</span> Scheduled area of &#8203;&#8203;state</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">81,861.88 वर्ग कि.मी.</span> 81,861.88 sq. Km</span>
                                </td>
                                <td></td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">अनुसूचित जनजाति</span> scheduled tribe</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">78.22 लाख 30.62%</span> 78.22 lakh 30.62%</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">राज्य का आदिवासी उपयोजना क्षेत्र</span> Tribal sub-region of the state</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">88000 वर्ग कि.मी.</span> 88000 sq km</span>
                                </td>
                                <td></td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">अनुसूचित जाति</span> scheduled caste</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">32.47 लाख 12.81%</span> 32.47 lakhs 12.81%</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">राज्य के भौगोलिक क्षेत्रफल से प्रतिशत</span> Percentage from the geographical area of &#8203;&#8203;the state</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">65.12%</span> 65.12%</span>
                                </td>
                                <td></td>
                                <th align="left"></th>
                                <td></td>
                            </tr>
                            <tr>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">3</span> 3</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">साक्षरता प्रतिशत (वर्ष 2011)</span> Literacy Percent (2011)</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">70.28 %</span> 70.28%</span>
                                </td>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">4</span> 4</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">अनु.जनजाति की साक्षरता (2011)</span> Scheduled Tribes (2011)</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">औसत(59.09प्रतिशत)</span> Average (59.09 percent)</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th align="left"></th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">(पुरूष-80.27%)</span> (Male -80.27%)</span>
                                </td>
                                <td></td>
                                <th align="left"></th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">पुरूष (69.67प्रतिशत)</span> Male (69.67 percent)</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <th align="left"></th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">(महिला-59.58%)</span> (Female -59.58%)</span>
                                </td>
                                <td></td>
                                <th align="left"></th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">महिला(48.76प्रतिशत)</span> Women (48.76 percent)</span>
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">5</span> 5</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">जिला</span> District</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">27</span> 27</span>
                                </td>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">6</span> 6</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">पूर्णत: आदिवासी उपयोजना क्षेत्र/जिला</span> Fully Tribal Sub-Zone / District</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">13</span> 13</span>
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">7</span> 7</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">आंशिक रूप से आदिवासी उपयोजना क्षेत्र जिले</span> Partially tribal sub-district areas</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">11</span> 11</span>
                                </td>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">8</span> 8</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">आदिवासी विकासखंड</span> Tribal development block</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">85</span> 85</span>
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">9</span> 9</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">एकीकृत आदिवासी विकास परियोजना</span> Integrated tribal development project</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">19</span> 19</span>
                                </td>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">10</span> 10</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">माडा पाकेट</span> Mada Pocket</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">09</span> 09</span>
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">11</span> 11</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">लघु अंचल</span> Small area</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">02</span> 02</span>
                                </td>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">12</span> 12</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">विशेष पिछड़ी जनजाति अभिकरण</span> Special Backward Tribal Agency</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">06</span> 06</span>
                                </td>
                            </tr>
                            <tr>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">13</span> 13</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">विशेष पिछड़ी जनजाति प्रकोष्ट</span> Special Backward Tribal Peninsula</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">09</span> 09</span>
                                </td>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">14</span> 14</span>
                                </td>
                                <th align="left"> <span class="google-src-text" style="direction: ltr; text-align: left">वनबंधु कल्याण योजना अंतर्गत चयनित विकासखंड</span> Selected development block under the Vanbandhu Kalyan Yojana</span>
                                    <br> <span class="google-src-text" style="direction: ltr; text-align: left">(विकासखंड-कोण्डागांव, जिला- कोण्डागांव)</span> (Vikaskhand-Kondagaon, District- Kadgaon)</span>
                                </th>
                                <td> <span class="google-src-text" style="direction: ltr; text-align: left">01</span> 01</span>
                                </td>
                            </tr>
                        </tbody>
                </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#nav_statistics").addClass('active');
</script>
{% endblock %}