{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">
    <title>eYojna Tribal Development - {% block title %}{% endblock %}</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="http://next.materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://next.materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{% static 'assets/css/materialize.css' %}">
    <link href="{% static 'assets/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- if !isDemo-->
    <!--   script.-->
    <!--     window.liveSettings = {-->
    <!--       api_key: "a0b49b34b93844c38eaee15690d86413",-->
    <!--       picker: "bottom-right",-->
    <!--       detectlang: true,-->
    <!--       dynamic: true,-->
    <!--       autocollect: true-->
    <!--     };-->
    <!--   script(src='//cdn.transifex.com/live.js')-->
    <style>
        .progress {
            margin: 0px
        }

        nav ul li a:hover {
            background-color: #8e24aa
        }
        #change_language {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
  </head>
  
  <body class="parallax-demo">
      <div id="change_language">
            <a class="waves-effect waves-light btn" style="padding:0">
                <div id="google_translate_element"></div>
            </a>
      </div>
    <header>
        <div class="progress" id="progress_bar">
            <div class="indeterminate"></div>
        </div>
        <!-- Dropdown Structure -->
        <ul id="language_navbar_dropdown" class="dropdown-content">
            
                <li><a href="#!"><span class="purple-text text-darken-4">Hindi</span></a></li>
                <li><a href="#!"><span class="purple-text text-darken-4">English</span></a></li>
            
        </ul>
        <nav class="purple darken-4">
            <!-- <div class="container"> -->
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">&nbsp eYojna</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li id="nav_statistics"><a href="/statistics"><i class="material-icons left">&#xE1AF;</i>Important Statistics</a></li>
                        <li id="nav_schemes"><a href="/schemes"><i class="material-icons left">&#xE871;</i>Schemes</a></li>
                        <li id="nav_announcements"><a href="/announcemnets"><i class="material-icons left">&#xE85A;</i>Announcements</a></li>
                        <li id="nav_budget"><a href="/budget"><i class="material-icons left">&#xE8F9;</i>Budget</a></li>
                        <li id="nav_scholarships"><a href="/scholarships"><i class="material-icons left">&#xE80C;</i>Scholarships</a></li>
                        <li id="nav_login"><a href="/login"><i class="material-icons left">&#xE851;</i>Login</a></li>
                        <!-- <li><a class="dropdown-trigger" href="#!" data-target="language_navbar_dropdown">Language<i class="material-icons right">arrow_drop_down</i></a></li> -->
                    </ul>
                    <ul class="sidenav" id="mobile-demo">
                        <li><a href="/statistics"><i class="material-icons left">&#xE1AF;</i>Vital Statistics</a></li>
                        <li><a href="/schemes"><i class="material-icons left">&#xE871;</i>Schemes</a></li>
                        <li><a href="/announcemnets"><i class="material-icons left">&#xE85A;</i>Announcements</a></li>
                        <li><a href="/budget"><i class="material-icons left">&#xE8F9;</i>Budget</a></li>
                        <li><a href="/scholarships"><i class="material-icons left">&#xE80C;</i>Scholarships</a></li>
                        <li><a href="/login"><i class="material-icons left">&#xE851;</i>Login</a></li>
                    </ul>
                </div>
            <!-- </div> -->
        </nav>
    </header>

<main>
  {% block content %}
  {% endblock %}
  <footer class="page-footer purple darken-4">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h5 class="white-text">Contact Us</h5>
            <p class="grey-text text-lighten-4">E-Mail Address: ctd.cg@nic.in</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Secretary</h5>
            <p>Tribal and Scheduled Caste Development Department
                Room No S-4, Mahanadi Bhawan 
                New Raipur Chhattisgarh 492015</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Commissioner</h5>
            <p>Tribal and Scheduled Caste Development Department
                Block D Ground Floor, Indrawati Bhawan 
                New Raipur Chhattisgarh 492015</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Map</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d119068.2680392886!2d81.796691!3d21.157039!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe23796cb5bbee93f!2sIndravati+Bhawan%2C+Directorate+Building%2C+Naya+Raipur!5e0!3m2!1sen!2sin!4v1512949574553" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <center>© 2017 eYojna</center>
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% block scripts %}{% endblock %}
    <script>if (!window.jQuery) { document.write('<script src="bin/jquery-3.2.1.min.js"><\/script>'); }
    </script>
    <script src="http://next.materializecss.com/js/jquery.timeago.min.js"></script>
    <script src="http://next.materializecss.com/js/prism.js"></script>
    <script src="http://next.materializecss.com/jade/lunr.min.js"></script>
    <script src="http://next.materializecss.com/jade/search.js"></script>
    <script src="http://next.materializecss.com/bin/materialize.js"></script>
    <script src="http://next.materializecss.com/js/init.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'hi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- Twitter Button -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- Google Plus Button-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

     <!-- Google Analytics 
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56218128-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script> -->

  </body>
</html>